
@{
    ViewBag.Title = "Map";
}

<h2>Map</h2>
<h3>  </h3>
<div id="googleMap" style="width:25%;height:100px;"></div>


<script>function myMap() {
var mapProp= {
  center:new google.maps.LatLng(60.192059, 24.945831),
  zoom:8,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}</script>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1971.5034632625866!2d25.65139021591822!3d60.387361982041504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4691f5d5182ac701%3A0x4d708dd7d7d60249!2sHevosenkeng%C3%A4nkatu%202%2C%2006100%20Porvoo!5e0!3m2!1sen!2sfi!4v1575018664030!5m2!1sen!2sfi" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>"



